<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Device List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-row style="background: #e3e5e8;">
          <ion-col text-center>
            <ion-button fill="clear" expand="full" (click)="addDevice()">
              <ion-icon slot="start" name="add"></ion-icon>
              Add Device
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-list *ngIf="deviceList.length > 0">
          <ion-item *ngFor="let item of deviceList">
            <ion-avatar slot="start" class="ionAvtar">
              <img src="assets/Images/watch.png">
            </ion-avatar>
            <ion-label>
              <p style="font-size: 1.1em;">{{item.Device_Name | titlecase}} {{item.last_name | titlecase}}</p>
              <p>{{item.Device_ID}}</p>
            </ion-label>
            <ion-button slot="end" size="default" color="secondary">Switch</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>