// (Note: Don't change the order of the devices as it may break the correct css precedence)

// (see: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/#iphone-queries)
// (see: https://stackoverflow.com/a/47750261/1116959)

/* ----------- iPhone 4 and 4S ----------- */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (device-aspect-ratio: 2/3)
  // uncomment for only portrait:
  // and (orientation: portrait)
  // uncomment for only landscape:
  // and (orientation: landscape)
{
  .illustration-and-decoration-slide {
    .illustration-col {
      max-width: 30vh;
      padding: 0px;
    }

    .decoration-col {
      min-height: 12vh;
    }

    .info-col {
      .info-wrapper {
        .info-title {
          margin-bottom: calc(var(--page-margin) / 2);
          font-size: 20px;
        }
      }
    }
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (device-aspect-ratio: 40 / 71)
  // uncomment for only portrait:
  // and (orientation: portrait)
  // uncomment for only landscape:
  // and (orientation: landscape)
{
  .illustration-and-decoration-slide {
    .illustration-col {
      max-width: 32vh;
      padding: 0px;
    }

    .decoration-col {
      min-height: 12vh;
    }

    .info-col {
      .info-wrapper {
        .info-title {
          margin-bottom: calc(var(--page-margin) / 2);
          font-size: 20px;
        }
      }
    }
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  // uncomment for only portrait:
  // and (orientation: portrait)
  // uncomment for only landscape:
  // and (orientation: landscape)
{
  .illustration-and-decoration-slide {
    .illustration-col {
      max-width: 27vh;
      padding: 2vh 0px;
    }

    .decoration-col {
      min-height: 14vh;
    }
  }
}

/* ----------- iPhone X ----------- */
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 812px)
  and (-webkit-min-device-pixel-ratio : 3)
  // uncomment for only portrait:
  // and (orientation: portrait)
  // uncomment for only landscape:
  // and (orientation: landscape)
{
  .illustration-and-decoration-slide {
    .illustration-col {
      max-width: 34vh;
      padding: 6vh 0px;
    }

    .decoration-col {
      min-height: 12vh;
    }
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen
  and (min-device-width : 414px)
  and (max-device-width : 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  // uncomment for only portrait:
  // and (orientation: portrait)
  // uncomment for only landscape:
  // and (orientation: landscape)
{
  .illustration-and-decoration-slide {
    .illustration-col {
      max-width: 38vh;
      padding: 4vh 0px;
    }

    .decoration-col {
      min-height: 14vh;
    }
  }
}
