<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Location Setup</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-row padding>
          <ion-col size="9">
            <p style="text-align: left; color: #839cb7">
              Add your favourite places and get notified when
              child arrive and leave.
            </p>
          </ion-col>
          <ion-col size="3" text-right style="margin: auto;">
            <ion-button style="color: #35587e;" fill="clear">
              <ion-icon slot="start" name="add"></ion-icon>
              ADD
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-list>
    <ion-item> -->
  <ion-row *ngFor="let item of allDataArray">
    <ion-col size="12">
      <ion-row style="border-bottom: 1px solid #f0f5f5;">
        <ion-col size="2">
          <ion-avatar style="text-align: center;">
            <img src="{{item.imageSrc}}" style="width: 30px; height: 30px;" />
          </ion-avatar>
        </ion-col>
        <ion-col size="10" style="padding: 0px 5px 0px 5px;">
          <ion-row>
            <ion-col size="12" style="padding: 0px;">
              <p style="margin: 5px; font-size: 18px; color: rgb(97, 97, 97);">{{item.title}}</p>
            </ion-col>
            <ion-col size="12" *ngIf="item.count > 0" style="padding: 0px;">
              <ion-row>
                <ion-col size="5">
                  <p style="margin: 0px; color: #b3cccc;">{{item.key}} added</p>
                </ion-col>
                <ion-col size="1">
                  <p style="margin: 0px;">|</p>
                </ion-col>
                <ion-col size="6">
                  <ion-button fill="clear" size="small" color="danger" style="margin-top: -1px;"
                    (click)="deletePOI(item.key)">Delete
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12" *ngIf="item.count == 0" style="padding: 0px;">
              <ion-row>
                <ion-col size="5">
                  <p style="margin: 0px; color: #b3cccc;">{{item.subTitle}}</p>
                </ion-col>
                <ion-col size="1">
                  <p style="margin: 0px;">|</p>
                </ion-col>
                <ion-col size="6">
                  <ion-button fill="clear" size="small" color="secondary" style="margin-top: -1px;"
                    (click)="setLoaction(item.key)">Add
                  </ion-button>
                </ion-col>
              </ion-row>
              <!-- <ion-row>
                    <ion-col size="12">
                      {{item.subTitle}}
                    </ion-col>
                  </ion-row> -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

  </ion-row>
  <!-- </ion-item>
  </ion-list> -->



</ion-content>