<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/settings"></ion-back-button>
        </ion-buttons>
        <ion-title>Troubleshooting</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-card>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="2" style="margin: auto;">
                                <ion-img src="assets/Images/usercircle.png" style="width: 40px;"></ion-img>
                            </ion-col>
                            <ion-col size="9" style="padding-top: 10px; padding-left: 10px;">
                                <h2 style="margin: 0px; color: #476789">Internet</h2>
                            </ion-col>
                            <ion-col size="1">
                                <ion-icon name="arrow-dropright"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>

                <ion-card>

                    <ion-card-content>
                        <ion-row>
                            <ion-col size="2" style="margin: auto;">
                                <ion-img src="assets/Images/usercircle.png" style="width: 40px;"></ion-img>
                            </ion-col>
                            <ion-col size="9" style="padding-top: 10px; padding-left: 10px;">
                                <h4 style="margin: 0px; color: #476789">KidsControl Server</h4>
                            </ion-col>
                            <ion-col size="1">
                                <ion-icon name="arrow-dropright"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="2" style="margin: auto;">
                                <ion-img src="assets/Images/usercircle.png" style="width: 40px;"></ion-img>
                            </ion-col>
                            <ion-col size="9" style="padding-top: 10px; padding-left: 10px;">
                                <h4 style="margin: 0px; color: #476789">Geolocation</h4>
                            </ion-col>
                            <ion-col size="1">
                                <ion-icon name="arrow-dropright"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="2" style="margin: auto;">
                                <ion-img src="assets/Images/usercircle.png" style="width: 40px;"></ion-img>
                            </ion-col>
                            <ion-col size="9" style="padding-top: 10px; padding-left: 10px;">
                                <h4 style="margin: 0px; color: #476789">Wi-Fi</h4>
                            </ion-col>
                            <ion-col size="1">
                                <ion-icon name="arrow-dropright"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="2" style="margin: auto;">
                                <ion-img src="assets/Images/usercircle.png" style="width: 40px;"></ion-img>
                            </ion-col>
                            <ion-col size="9" style="padding-top: 10px; padding-left: 10px;">
                                <h4 style="margin: 0px; color: #476789">Device Maintenance</h4>
                            </ion-col>
                            <ion-col size="1">
                                <ion-icon name="arrow-dropright"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>