<ion-header>
  <ion-toolbar>
    <ion-title>gpsone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card style="margin: 20px 30px 30px 30px; height: 65%;">
  <ion-grid>
    <ion-row>
      <ion-col size="1">

       </ion-col> 
       <ion-col size="10" style="margin-top: 30px;">
          <span style="margin: 30px 13px 30px 15px;">To connect the watch to the app</span>
        </ion-col>
        <ion-col size="1">

          </ion-col>
     </ion-row>
     
     <ion-row>
        <ion-col size="">
        </ion-col>
        <ion-col size="12">
          <p class="text" style="font-size: large;
          color: rgba(66, 172, 208, 1);
          text-align: center;
          margin: auto;">
            Please enter the ID or IMEI on back of the watch
    </p>  
        </ion-col>  
        <ion-col size="0">
        </ion-col>
      </ion-row>
      <br>
      <ion-button expand="block" fill="clear" style="width: 85%;
      margin: auto; border: 1px solid;">ID or IMEI</ion-button>

      <ion-row> 
        <ion-col size="12" style="margin-top: 20px; margin-top: 20px;
        text-align: center;">
            <span>
                <a href="https://www.oneqlik.in" style="color: rgba(66, 172, 208, 1);">Support to find ID or IMEI</a>
            </span>  
        </ion-col>
      </ion-row>  
  </ion-grid>  
</ion-card>  
</ion-content>
