<ion-header>
  <ion-toolbar no-header>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <div style="text-align: center;">
          <ion-img *ngIf="!fileUrl" class="circular--square" src="assets/Images/dummy-profile-pic.png"></ion-img>
          <ion-img *ngIf="fileUrl" class="circular--square" src="{{fileUrl}}"></ion-img>
          <ion-fab vertical="bottom" slot="fixed">
            <ion-fab-button style="margin-left: -55px;" color="medium" (click)="selectImage()">
              <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item>
            <ion-input style="font-size: 1.3em; font-weight: 400;" type="text" placeholder="First Name"
              [(ngModel)]="userdetails.fn"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input style="font-size: 1.3em; font-weight: 400;" type="text" placeholder="Last Name"
              [(ngModel)]="userdetails.ln"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>