ion-toolbar {
  --color: #ffffff;
  --background: linear-gradient(to right, #329cd1, #008dd3, #007cd2, #1c6ace, #4055c5);
}
.map {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.map.visible {
  opacity: 1;
}
.searchclass1 {
  display: block;
}
.searchclass2{
  display: none;
}

#mapGeofence {
  height: 80%;
  width: 100%;
}