<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/location-setup"></ion-back-button>
    </ion-buttons>
    <ion-title>Add {{key | titlecase}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveGeofence()" fill="clear" size="large">SAVE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding: 0px;">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" style="padding: 0px;">
        <div style="padding: 16px 16px 50px 16px">
          <ion-row style="border-bottom: 1.5px solid #90b3c3;">
            <ion-col size="2" class="ion-text-center" style="padding: 14px; font-size: 1.5em;">
              <ion-icon name="bookmark"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-input type="text" [(ngModel)]="ppname" required placeholder="{{key | titlecase}}">
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row style="border-bottom: 1.5px solid #90b3c3;">
            <ion-col size="2" class="ion-text-center" style="padding: 14px; font-size: 1.5em;">
              <ion-icon name="pin"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-input type="text" name="address" required placeholder="Addressor location"
                [(ngModel)]="autocomplete.query" (ionInput)="updateSearch()">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-list [ngClass]="autocompleteItems.length > 0 ? 'searchclass1' : 'searchclass2'">
            <ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
              {{ item.description }}
            </ion-item>
          </ion-list>

          <ion-row style="border-bottom: 1.5px solid #90b3c3;">
            <ion-col size="2" class="ion-text-center" style="padding: 14px; font-size: 1.5em;">
              <ion-icon style="font-size: 17px" src="assets/svg/radius.svg"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-range style="padding: 0px; margin: 0px;" min="200" max="100000" pin="false" [(ngModel)]="fence"
                color="secondary" (ionChange)="callThis(fence)">
              </ion-range>
            </ion-col>
          </ion-row>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="map" #map></div> -->
  <div #mapGeofence id="mapGeofence"></div>
</ion-content>