// .text {
//   text-align: center;
// }
.bgClass {
  // --background: url(../assets/Images/bgscreen.png);
  --background: #fff url("../../assets/Images/bgscreen.png") no-repeat center center / cover;
}
.tool {
  --background: transparent;
}


// ion-icon {
//   font-size: 64px;
// }
// .image {
//   height: 30px;
//   width: auto;
//   margin-top: 5px;
//   margin-left: 15px;
// }
// ion-icon {
//   font-size: 25px;
// }
// .btn {
//   width: 253px;
//   margin: auto;
//   margin-top: 35px;
// }
.custBtn {
  --background: #0aa360;
}
