<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Add Device</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bgClass">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card class="ion-padding" style="background: white; border-radius: 10px;">
          <ion-row>
            <ion-col size="12" style="text-align:center; padding: 0px 16px 25px 16px;">
              <h5 style="color: #15528b;">Add Member</h5>
            </ion-col>
            <ion-col size="12">
              <ion-row style="border-radius: 10px; border: 1px solid #469a97;">
                <ion-col size="12">
                  <ion-input type="text" [(ngModel)]="userId" required placeholder="User Id">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col></ion-col>
              </ion-row>
              <ion-row style="border-radius: 10px; border: 1px solid #469a97;">
                <ion-col size="12">
                  <ion-input type="text" [(ngModel)]="fn" required placeholder="First Name">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col></ion-col>
              </ion-row>
              <ion-row style="border-radius: 10px; border: 1px solid #469a97;">
                <ion-col size="12">
                  <ion-input type="text" [(ngModel)]="ln" required placeholder="Last Name">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col></ion-col>
              </ion-row>
              <ion-row style="border-radius: 10px; border: 1px solid #469a97;">
                <ion-col size="12">
                  <ion-input type="email" [(ngModel)]="email" required placeholder="E-mail Id">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col></ion-col>
              </ion-row>
              <ion-row style="border-radius: 10px; border: 1px solid #469a97;">
                <ion-col size="12">
                  <ion-input type="number" [(ngModel)]="phone" required placeholder="Mobile Number">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col></ion-col>
              </ion-row>
              <ion-row style="border-radius: 10px; border: 1px solid #469a97;">
                <ion-col size="12">
                  <ion-input type="password" [(ngModel)]="pass" required placeholder="Password">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col></ion-col>
              </ion-row>
              <ion-row style="border-radius: 10px; border: 1px solid #469a97;">
                <ion-col size="12">
                  <ion-datetime displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD, YYYY HH:mm"
                    placeholder="Select expiry Date" [(ngModel)]="exp_date" min="2020" max="2050"></ion-datetime>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col></ion-col>
              </ion-row>
              <!-- <ion-row *ngIf="!respData">
                <ion-col size="4">
                  <p>Upload Image</p>
                </ion-col>
                <ion-col size="8">
                  <ion-button class="custBtn" expand="block" shape="round" (click)="selectImage()">Choose image
                  </ion-button>
                </ion-col>
              </ion-row> -->
              <ion-row
                *ngIf="fn != undefined && ln != undefined && pass != undefined && exp_date != undefined && email != undefined && phone != undefined && userId != undefined">
                <ion-col size="12">
                  <ion-button expand="block" class="custBtn" (click)="submit()">Submit</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>