<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Chat Box
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #IonContent fullscreen="false">
  <!-- <div class="messages-container"> -->
  <ion-list>
    <div *ngFor="let chat of msgList; let i = index; ">
      <ion-row *ngIf="chat.userId == User">
        <ion-col class="right" no-padding
          [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
          <div class="imageAvatarRight">
            <div class="imageAvatarBottom">
              <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                <div class="imageAvatarBottomIcon">
                  <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                </div>
                <ion-img src="assets/chat1.jpg"></ion-img>
              </ion-avatar>
            </div>
            <ion-label color="light">
              <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
              (msgList[i-1] && msgList[i-1].userId == chat.userId)),
              'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
              'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}">
                <p text-wrap padding>{{chat.message}}
                </p>
                <div class="corner-parent-right">
                  <div class="corner-child-right">

                  </div>
                </div>
              </div>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="chat.userId == toUser">
        <ion-col class="left" no-padding
          [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
          <div class="imageAvatarLeft">
            <ion-label color="light">
              <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
              (msgList[i-1] && msgList[i-1].userId == chat.userId)),
              'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
              'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}">
                <p text-wrap padding>{{chat.message}}</p>
                <div class="corner-parent-left">
                  <div class="corner-child-left">

                  </div>
                </div>
              </div>
            </ion-label>
            <div class="imageAvatarBottom">

              <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                <div class="imageAvatarBottomIcon">
                  <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                </div>
                <ion-img src="assets/chat6.jpg"></ion-img>
              </ion-avatar>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])">
        <ion-col>
          <ion-text>{{chat.time | date:'shortTime'}}</ion-text>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>

  <!-- <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="sendMsg()" color="secondary">
      <ion-icon name="send" expand="icon-only"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-row *ngIf="loader">
    <ion-col no-padding class="loading-col">
      <div class="imageAvatarRight">
        <div class="imageAvatarBottomLoader">
          <ion-avatar class="avatar">
            <div class="imageAvatarBottomIcon">
              <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
            </div>
            <ion-img src="assets/chat6.jpg"></ion-img>
          </ion-avatar>
        </div>
        <ion-label>
          <div class="chatDivLoader">
            <ion-spinner name="dots" color="light"></ion-spinner>
            <!-- <ion-img src="../../assets/chat/loader.gif"></ion-img> -->
            <!-- <p text-wrap padding> {{paramData.name || 'Pam'}} is typing...</p> -->
            <div class="corner-parent-right">
              <div class="corner-child-right">

              </div>
            </div>
          </div>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <!-- </div> -->
</ion-content>
<ion-footer>
  <ion-item>
    <!-- <ion-icon slot="start" name="camera" expand="icon-only" class="footerIcon"></ion-icon> -->
    <ion-textarea autoGrow autofocus placeholder="Write a message..." rows="1" [(ngModel)]="user_input"
      (ionFocus)="userTyping($event)"></ion-textarea>
    <!-- <ion-fab slot="end"> -->
    <ion-fab-button (click)="sendMsg()" color="secondary" slot="end">
      <ion-icon name="send" expand="icon-only"></ion-icon>
    </ion-fab-button>
    <!-- </ion-fab> -->
  </ion-item>
</ion-footer>