<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
    <ion-buttons *ngIf="dataArrayCoords.length > 1" slot="primary">
      <ion-button slot="icon-only" fill="clear">
        <ion-icon style="font-size: 2em;" name="arrow-dropleft"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!playPause" slot="icon-only" fill="clear" color="secondary" (click)="animateHistory()">
        <ion-icon style="font-size: 2em;" name="play-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="playPause" slot="icon-only" fill="clear" color="secondary" (click)="animateHistory()">
        <ion-icon style="font-size: 2em;" name="pause"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only" fill="clear">
        <ion-icon style="font-size: 2em;" name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item>
    <ion-label>Select Person</ion-label>
    <ionic-selectable [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="onChangedSelect(selectedVehicle)">
    </ionic-selectable>
  </ion-item>
  <ion-row>
    <ion-col size="5" class="ion-padding-left" class="col1">
      <ion-row>
        <ion-col size="3" class="ion-no-padding">
          <ion-icon style="font-size: 1.9em;" name="clock"></ion-icon>
        </ion-col>
        <ion-col size="9" class="ion-no-padding">
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <ion-label style="margin-top: 1px;"><span style="font-size: 11px">From Date</span></ion-label>
            </ion-col>
            <ion-col class="ion-no-padding" size="12">
              <ion-datetime displayFormat="DD/MM/YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a"
                [(ngModel)]="datetimeStart" style="font-size: 10px; padding: 0px;" (ionChange)="onChangeDatetime()">
              </ion-datetime>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="5" class="col1">
      <ion-row>
        <ion-col size="3" class="ion-no-padding">
          <ion-icon style="font-size: 1.9em;" name="clock"></ion-icon>
        </ion-col>
        <ion-col size="9" class="ion-no-padding">
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <ion-label style="margin-top: 1px;"><span style="font-size: 11px">From Date</span></ion-label>
            </ion-col>
            <ion-col class="ion-no-padding" size="12">
              <ion-datetime displayFormat="DD/MM/YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
                style="font-size: 10px; padding: 0px;" (ionChange)="onChangeDatetime()"></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!-- <ion-label style="margin-top: 1px;">
        <span style="font-size: 11px">To Date</span>
        <ion-datetime displayFormat="DD/MM/YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="font-size: 10px;"></ion-datetime>
      </ion-label> -->
    </ion-col>
    <ion-col size="2" ion-text text-right padding-right>
      <ion-icon ios="ios-search" md="md-search" style="font-size:30px;">
      </ion-icon>
    </ion-col>
  </ion-row>
</ion-header>

<!-- <ion-content fullscreen no-bounce>
  <div class="map" #map></div>
</ion-content> -->
<ion-content fullscreen no-bounce>
  <!-- <div
    style="height: 100%; width: 100%;background-color: transparent; opacity: 0; transition: opacity 150ms ease-in; margin-top: -100px; position: absolute;"
    id="map_canvas">
    
  </div> -->
  <div id="map_canvas"></div>
  <!-- <div class="map" #map *ngIf="mapData.length == 0"></div> -->
</ion-content>
<ion-bottom-drawer *ngIf="selectedVehicle" [(state)]="drawerState" [minimumHeight]="minimumHeight"
  [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce" [distanceTop]="distanceTop" (click)="setDocHeight()">
  <div class="drawer-content">
    <ion-row padding>
      <ion-col size="3">
        <ion-img src="assets/Images/dummy-profile-pic.png" style="border-radius: 12px;"></ion-img>
      </ion-col>
      <ion-col size="9">
        <ion-row>
          <ion-col size="12">
            <h4 style="margin: 0px;">{{selectedVehicle.Device_Name | titlecase}}</h4>
          </ion-col>
          <ion-col size="12" style="padding: 0px 0px 0px 5px">
            <p style="padding: 0px; margin: 0px; font-size: 12px;">Near 216 1st cross road(Home)</p>
          </ion-col>
          <ion-col size="12" style="padding: 5px 0px 0px 5px">
            <p style="color: gray; padding: 0px; margin: 0px; font-size: 12px;">Since 8:38pm</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="ion-padding" *ngIf="geofenceData.length === 0">
      <ion-col size="12">
        Geofence not found...!!
      </ion-col>
    </ion-row> -->
    <ion-row class="ion-padding" *ngIf="show_string !== ''">
      <ion-col size="12">
        {{show_string}}
      </ion-col>
    </ion-row>
    <!-- <ion-list class="ion-padding" *ngIf="geofenceData.length === 0">
      <ion-item>
        Geofence not found...!!
      </ion-item>
    </ion-list> -->
    <!-- <ion-list class="ion-padding" *ngIf="geofenceData.length > 0">
      <ion-item *ngFor="let item of geofenceData"> -->
    <ion-row style="padding: 0px 16px;" *ngIf="geofenceData.length > 0">
      <ion-col size="12">
        <ion-row *ngFor="let item of geofenceData">
          <!-- <ion-col size="2">
           
            <ion-img src="assets/notification/{{item.type}}.png"></ion-img>
          </ion-col>
          <ion-col size="6">
            <h6 style="margin: 0px;">{{ item.item._type }}</h6>
            <p style="margin: 0px; font-size: 12px;">{{ item.item.sentence }}</p>
            <p style="margin: 0px; font-size: 10px;" *ngIf="item.type === 'IGN'">Odo: <span
                [ngClass]="{ 'switchOn': item.switch === 'ON','switchOff':   item.switch === 'OFF' }">{{item.odo | number: "1.0-2"}}
                km(s)</span></p>
          </ion-col>
          <ion-col size="4" style="text-align: center; padding: 16px 0px;">
            <ion-row>
              <ion-col size="12" class="ion-no-padding">
                <p style="font-size: 10px; margin: auto;
            font-weight: 600;">
                  {{ item.timestamp | date: 'mediumDate' }}</p>
              </ion-col>
              <ion-col size="12" class="ion-no-padding">
                <p style="font-size: 10px; margin: auto;
            font-weight: 600;">
                  {{ item.timestamp | date: 'shortTime' }}</p>
              </ion-col>
            </ion-row>
          </ion-col> -->
          <ion-col size="12">
            <ion-row style="border-bottom: 1px solid #f0f5f5;">
              <ion-col size="2" style="margin: auto;">
                <ion-icon style="font-size: 2em; color: #329cd1;" name="pin"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12" ion-no-padding>
                    <p style="font-size: 18px; margin: 0px;">{{item.geo_name | titlecase}}</p>
                  </ion-col>
                  <ion-col size="12" ion-no-padding>
                    <p class="para">{{item.direction}} at {{item.timestamp | date:'shortTime'}}</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
    <!--</ion-item>
       <ion-item>
        <ion-row>
          <ion-col size="3" style="margin: auto;">
            <ion-icon style="font-size: 2em; color: #329cd1;" name="pin"></ion-icon>
          </ion-col>
          <ion-col size="9">
            <ion-row>
              <ion-col size="12" ion-no-padding>
                <h4 style="margin: 0px;">Tusion class</h4>
              </ion-col>
              <ion-col size="12" ion-no-padding>
                <p class="para">6:00 pm</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col size="3" style="margin: auto;">
            <ion-icon style="font-size: 2em; color: #329cd1;" name="pin"></ion-icon>
          </ion-col>
          <ion-col size="9">
            <ion-row>
              <ion-col size="12" ion-no-padding>
                <h4 style="margin: 0px;">Book store</h4>
              </ion-col>
              <ion-col size="12" ion-no-padding>
                <p class="para">6:45 pm</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col size="3" style="margin: auto;">
            <ion-icon style="font-size: 2em; color: #329cd1;" name="pin"></ion-icon>
          </ion-col>
          <ion-col size="9">
            <ion-row>
              <ion-col size="12" ion-no-padding>
                <h4 style="margin: 0px;">Coaching class</h4>
              </ion-col>
              <ion-col size="12" ion-no-padding>
                <p class="para">7:30 pm</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col size="3" style="margin: auto;">
            <ion-icon style="font-size: 2em; color: #329cd1;" name="pin"></ion-icon>
          </ion-col>
          <ion-col size="9">
            <ion-row>
              <ion-col size="12" ion-no-padding>
                <h4 style="margin: 0px;">Home</h4>
              </ion-col>
              <ion-col size="12" ion-no-padding>
                <p class="para">8:00 pm</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item> 
    </ion-list>-->
  </div>
</ion-bottom-drawer>