ion-toolbar {
  --color: #ffffff;
  --background: linear-gradient(to right, #329cd1, #008dd3, #007cd2, #1c6ace, #4055c5);
}

.map {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 150ms ease-in;
//   margin-top: -100px;
}

.map.visible {
  opacity: 1;
}
.para {
  padding: 0px 0px 11px;
  margin: 0px;
  color: #aaa8a9;
}

#map_canvas {
  height: 100%;
  width: 100%;
}

.datetime-md, 
.datetime-ios {
  // padding: 13px 8px 0px 0px;
  padding: 0px;
  // margin: -8%;
}

.text-input-md ,
.text-input-ios{
  margin: -1px;
  padding: 0;
  // width: calc(100% - 8px - 8px);
  width: auto;
}

.avtar img{
  width: 20px;
  height: 20px;
  margin-right: 2.5%;
  margin-top: 4%;
}
.col1{
  min-width: 150px;
}
