<ion-content class="mainDiv">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-row style="padding-top: 30px;">
          <ion-col class="ion-text-center">
            <ion-img src="assets/Images/icon.png" style="width: 150px; margin: auto">
            </ion-img>
          </ion-col>
        </ion-row>
        <ion-card
          style="margin: -25px 30px 30px 30px; padding: 16px 16px 50px 16px; background: white; border-radius: 25px;">
          <ion-card-title text-center class="ion-padding">Log In</ion-card-title>

          <div style="padding-bottom: 20px;">
            <ion-row style="border-radius: 25px; border: 1px solid #f8f8f8;">
              <ion-col size="2" class="ion-text-center" style="padding: 14px;">
                <ion-icon name="person"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-input type="text" ngModel name="email" required #emailCtrl="ngModel" placeholder="Mobile Number">
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col></ion-col>
            </ion-row>
            <ion-row style="border-radius: 25px; border: 1px solid #f8f8f8;">
              <ion-col size="2" class="ion-text-center" style="padding: 14px;">
                <ion-icon name="lock"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-input type="password" ngModel name="password" required #emailCtrl="ngModel" placeholder="Password">
                </ion-input>
              </ion-col>
            </ion-row>
          </div>
          <ion-button shape="round" expand="block" class="btnCustom" type="submit">Login</ion-button>

          <ion-row style="padding-left: 10px; padding-right: 10px; padding-top: 20px;">
            <ion-col size="5" style=" padding-left: 10px; margin-bottom: 13px; border-bottom: 1px solid #f8f8f8;">
            </ion-col>
            <ion-col size="2" style="color: gray;" class="ion-text-center">OR</ion-col>
            <ion-col size="5" style="margin-bottom: 13px; border-bottom: 1px solid #f8f8f8;"></ion-col>
          </ion-row>
          <ion-button shape="round" expand="block" class="btnCustom1" (click)="goToSignup()">Register</ion-button>

        </ion-card>
        <p style="text-align: center; margin-top: 25px; color: white;;">Forgot Password?</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>