<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/device-list"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Add Device</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bgClass">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card class="ion-padding" style="background: white; border-radius: 10px;">
          <ion-row>
            <ion-col size="12" style="text-align: center;padding: 35px 5px 15px 5px;">
              <p style="color: #768fa3;">To connect the watch to the app</p>
            </ion-col>
            <ion-col size="12" style="text-align:center; padding: 0px 16px 25px 16px;">
              <h5 style="color: #15528b;">Please enter the ID or IMEI on back of the watch</h5>
            </ion-col>
            <ion-col size="12">
              <ion-row style="border-radius: 10px; border: 1px solid #469a97;">
                <ion-col size="12">
                  <ion-input type="text" [(ngModel)]="device_name" required placeholder="Watch holder's Name">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col></ion-col>
              </ion-row>
              <ion-row style="border-radius: 10px; border: 1px solid #469a97;">
                <ion-col size="12">
                  <ion-input type="number" [(ngModel)]="imei" required placeholder="ID or IMEI">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col></ion-col>
              </ion-row>
              <ion-row style="border-radius: 10px; border: 1px solid #469a97;">
                <ion-col size="12">
                  <ion-input type="number" [(ngModel)]="simno" required placeholder="SIM Number">
                  </ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col></ion-col>
              </ion-row>
              <ion-row *ngIf="!respData">
                <ion-col size="12">
                  <ion-button class="custBtn" expand="block" shape="round" (click)="selectImage()">Upload watch holder's
                    image
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="device_name != undefined && simno != undefined && imei != undefined && respData != undefined">
                <ion-col size="12">
                  <ion-button expand="block" class="custBtn" (click)="saveDevice()">Save Changes</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>