.bgClass {
  // --background: url(../assets/Images/bgscreen.png);
  --background: #fff url("../../assets/Images/bgscreen.png") no-repeat center center / cover;
}

.tool {
    --background: transparent;
}

.custBtn {
    --background: #0aa360;
}

// ion-content {
//     --background: #fff url("../../assets/Images/Launch Screen.jpg") no-repeat center center / cover;
//   }
