<!-- <ion-content>
  <ion-slides class="walkthrough-slides" pager="true" [options]="slidesOptions">
    <ion-slide class="container">
      <img src="assets/walkthrough/Slider1.png" />
      <ion-button class="btn" color="dark" (click)="next()">Next</ion-button>

    </ion-slide>
    <ion-slide class="container">
      <img src="assets/walkthrough/Slider2.png" />
      <ion-button color="dark" class="btn" (click)="next()">Next</ion-button>
    </ion-slide>
    <ion-slide class="container">
      <img src="assets/walkthrough/Slider3.png" />
      <ion-button color="dark" class="btn" (click)="finish()">Finish</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content> -->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="skip-walkthrough-button" fill="clear" (click)="skipWalkthrough()">skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="walkthrough-slides" pager="true" [options]="slidesOptions">
    <ion-slide class="first-slide illustration-and-decoration-slide">
      <ion-card style="border-radius: 15px;">
        <ion-row class="slide-inner-row">
          <ion-col class="illustration-col">
            <ion-img [src]="'./assets/walkthrough/walkthrough-illustration-1.svg'" [alt]="'walkthrough'"></ion-img>
          </ion-col>
          <ion-col class="decoration-col">
            <!-- http://jxnblk.com/paths/?d=M0%200%20V5%20H5%20C25%205%2025%2020%2045%2020%20S65%205%2085%205%20H90%20V0%20Z -->
            <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 90 20"
              style="enable-background:new 0 0 90 20;" xml:space="preserve" preserveAspectRatio="none">
              <path d="M0 0 V5 H5 C25 5 25 20 45 20 S65 5 85 5 H90 V0 Z" />
            </svg>
          </ion-col>
          <ion-col class="info-col">
            <div class="info-wrapper">
              <h3 class="info-title">This App is built for personal care</h3>
              <p class="info-paragraph">
                It was created by the <b>OneQlik</b> team to help you track your relative.
              </p>
              <p class="info-paragraph">
                <b>You will love this app, and if you get lost, remember we have lots of tutorials to help you.</b>
              </p>
            </div>

          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>

    <ion-slide class="second-slide illustration-and-decoration-slide">
      <ion-card style="border-radius: 15px;">
        <ion-row class="slide-inner-row">
          <ion-col class="illustration-col">
            <ion-img [src]="'./assets/walkthrough/walkthrough-illustration-2.svg'" [alt]="'walkthrough'"></ion-img>
          </ion-col>
          <ion-col class="decoration-col">
            <!-- http://jxnblk.com/paths/?d=M0%200%20L64%200%20L64%2024%20Q56%2024%2048%2016%20Q34%200%2022%2010%20Q10%2022%200%208%20Z -->
            <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24"
              style="enable-background:new 0 0 64 24;" xml:space="preserve" preserveAspectRatio="none">
              <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
            </svg>
          </ion-col>
          <ion-col class="info-col">
            <div class="info-wrapper">
              <h3 class="info-title">How to use this app?</h3>
              <p class="info-paragraph">
                User needs to give permission to access his/her location.
                We want to help you track better and faster. We have put a lot of effort building and styling
                each component of this app.
              </p>
              <p class="info-paragraph">
                You can set your favorite places in app. Like home, gym, school, grocery stores. So that, we can track
                you
                better.
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>
    <ion-slide class="third-slide illustration-and-decoration-slide">
      <ion-card style="border-radius: 15px;">
        <ion-row class="slide-inner-row">
          <ion-col class="illustration-col">
            <ion-img [src]="'./assets/walkthrough/walkthrough-illustration-3.svg'" [alt]="'walkthrough'"></ion-img>
          </ion-col>
          <ion-col class="decoration-col">
            <!-- http://jxnblk.com/paths/?d=M0%200%20V5%20H5%20C19%205%2025%2014%2032%2014%20S45%205%2059%205%20H64%20V0%20Z -->
            <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 14"
              style="enable-background:new 0 0 64 24;" xml:space="preserve" preserveAspectRatio="none">
              <path d="M0 0 V5 H5 C19 5 25 14 32 14 S45 5 59 5 H64 V0 Z" />
            </svg>
          </ion-col>
          <ion-col class="info-col">
            <div class="info-wrapper">
              <h3 class="info-title">Which points are most important?</h3>
              <p class="info-paragraph">
                It was created by the <b>OneQlik</b> team to help you track your relative.
                Notifications, Profile, Geofence, History playback <b>Live Tracking</b>, <b>History</b>, <b>Prifile</b>,
                <b>Location Setting</b> and <b>Geofence</b>
                listings and details page and many more!
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>
    <ion-slide class="last-slide illustration-and-decoration-slide">
      <ion-card style="border-radius: 15px;">
        <ion-row class="slide-inner-row">
          <ion-col class="illustration-col">
            <ion-img [src]="'./assets/walkthrough/walkthrough-illustration-4.svg'" [alt]="'walkthrough'"></ion-img>

          </ion-col>
          <ion-col class="decoration-col">
            <!-- http://jxnblk.com/paths/?d=M0%200%20L64%200%20L64%2010%20Q56%2024%2046%2012%20Q34%200%2026%208%20Q10%2022%200%208%20Z -->
            <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 18"
              style="enable-background:new 0 0 64 24;" xml:space="preserve" preserveAspectRatio="none">
              <path d="M0 0 L64 0 L64 10 Q56 24 46 12 Q34 0 26 8 Q10 22 0 8 Z" />
            </svg>
          </ion-col>
          <ion-col class="info-col">
            <ion-row class="info-outer">
              <ion-col class="info-col">
                <div class="info-wrapper">
                  <h3 class="info-title">It's time to start</h3>
                  <p class="info-paragraph">
                    Hope you like this app and please let us know your feedback so we can keep improving it!
                    Enjoy ;)
                  </p>
                  <ion-button class="get-started-button" expand="block" (click)="finish()">Finish
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>