// ion-slide > img {
//   max-height: 100%;
//   max-width: 100%;
// }
// .container {
//   position: relative;
// }
// .container .btn {
//   position: absolute;
//   top: 85%;
//   left: 42%;
// }

