<ion-app>
  <!-- <ion-split-pane>
    <ion-menu class="app-sidemenu">
      <ion-header></ion-header>
      <ion-content>  
        <ion-list>
          <ion-list-header>Account</ion-list-header>
          <ion-menu-toggle>
            <ion-item (click)="onLogout()">
              <ion-icon name="log-out" slot="start"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane> -->
  <ion-router-outlet></ion-router-outlet>
</ion-app>
