<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3"> -->
  <!-- <ion-button (click)="toggleInfiniteScroll()" expand="block">
          Toggle Infinite Scroll
        </ion-button> -->
  <ion-list>
    <ion-item *ngFor="let item of items">
      <!-- assets/Images/{{item.type}}.png -->
      <ion-row>
        <ion-col size="2">
          <!-- <ion-img [src]="'assets/Images/notification.png'"></ion-img> -->
          <ion-img src="assets/notification/{{item.type}}.png"></ion-img>
        </ion-col>
        <ion-col size="6">
          <h6 style="margin: 0px;">{{ item.item._type }}</h6>
          <p style="margin: 0px; font-size: 12px;">{{ item.item.sentence }}</p>
          <p style="margin: 0px; font-size: 10px;" *ngIf="item.type === 'IGN'">Odo: <span
              [ngClass]="{ 'switchOn': item.switch === 'ON','switchOff':   item.switch === 'OFF' }">{{item.odo | number: "1.0-2"}}
              km(s)</span></p>
        </ion-col>
        <ion-col size="4" style="text-align: center; padding: 16px 0px;">
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <p style="font-size: 10px; margin: auto;
          font-weight: 600;">
                {{ item.timestamp | date: 'mediumDate' }}</p>
            </ion-col>
            <ion-col size="12" class="ion-no-padding">
              <p style="font-size: 10px; margin: auto;
          font-weight: 600;">
                {{ item.timestamp | date: 'shortTime' }}</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>