<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Add Device</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bgClass">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card class="ion-padding" style="background: white; border-radius: 10px;">
          <ion-row>
            <ion-col size="12" style="text-align:center; padding: 0px 16px 25px 16px;">
              <h5 style="color: #15528b;">Add Emergency Contact</h5>
            </ion-col>
            <ion-col size="12">

              <div *ngFor="let att of anArray; let idx = index">
                <ion-row style="border-radius: 10px; border: 1px solid #469a97;">
                  <ion-col size="12">
                    <ion-input type="tel" maxlength="10" [(ngModel)]="anArray[idx].value" required
                      placeholder="Contact Number {{idx+1}}">
                    </ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col></ion-col>
                </ion-row>
              </div>
              <ion-row *ngIf="anArray.length < 3">
                <ion-col size="5"></ion-col>
                <ion-col size="2">
                  <ion-fab-button (click)="Add()" color="secondary">
                    <ion-icon name="add" expand="icon-only"></ion-icon>
                  </ion-fab-button>
                </ion-col>
                <ion-col size="5"></ion-col>
              </ion-row>
              <ion-row *ngIf="(anArray.length > 0) && anArray[0].value !== ''">
                <ion-col size="12">
                  <ion-button expand="block" class="custBtn" (click)="submit()">Submit</ion-button>
                </ion-col>
              </ion-row>
              <div *ngIf="anArray.length === 3" padding style="text-align: center;
              color: lightgray;">
                <p>You can add only three SOS contact numbers.</p>
              </div>

              <ion-list *ngIf="user_details" lines="none">
                <ion-item *ngFor="let item of user_details.alert.sos.phones">
                  <!-- <ion-avatar slot="start"> -->
                  <ion-icon slot="start" name="call" style="font-size: 1.1em;"></ion-icon>
                  <!-- <img src="assets/Images/call.png"> -->
                  <!-- </ion-avatar> -->
                  <ion-label>
                    {{item}}
                    <!-- <p style="font-size: 1em;">{{item}}</p> -->
                  </ion-label>
                  <!-- <ion-badge slot="end"><ion-icon name="create"></ion-icon></ion-badge> -->
                  <ion-badge slot="end" color="danger">
                    <ion-icon name="trash"></ion-icon>
                  </ion-badge>
                </ion-item>
              </ion-list>
              <!-- <div *ngIf="(anArray.length > 0) && anArray[0].value !== ''">
                <p>The required fields can not be empty. You have to add atleast one contact number.</p>
              </div> -->
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>