.bgClass {
  // --background: url(../assets/Images/bgscreen.png);
  --background: #fff url("../../assets/Images/bgscreen.png") no-repeat center center / cover;
}
.tool {
  --background: transparent;
}
