ion-content {
  --background: #fff url("../../assets/Images/Launch Screen.jpg") no-repeat center center / cover;
}

.btnCustom {
  --background: linear-gradient(to bottom, #69d7f4, #62d3f3, #5ccff2, #55caf1, #4fc6f0);
  --padding-bottom: 23px;
  --padding-top: 23px;
}

.btnCustom1 {
  --background: linear-gradient(to right top, #303d9b, #2b4ca4, #295aac, #2b67b3, #3374b9);
  --padding-bottom: 23px;
  --padding-top: 23px;
}
