<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-row>
          <ion-col style="padding: 0px;" class="ion-text-center">
            <ion-img src="assets/Images/icon.png" style="width: 100px; margin: auto">
            </ion-img>
          </ion-col>
        </ion-row>
        <ion-card
          style="margin: -25px 30px 30px 30px; padding: 0px 16px 16px 16px; background: white; border-radius: 25px;">
          <ion-card-title text-center class="ion-padding">Sign Up</ion-card-title>

          <div style="padding-bottom: 20px;">
            <ion-row style="border-radius: 25px; border: 1px solid #f8f8f8;">
              <ion-col size="2" class="ion-text-center" style="padding: 14px;">
                <ion-icon name="person"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-input type="text" [(ngModel)]="userId" required placeholder="User Id*">
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="padding:2px;"></ion-col>
            </ion-row>
            <ion-row style="border-radius: 25px; border: 1px solid #f8f8f8;">
              <ion-col size="2" class="ion-text-center" style="padding: 14px;">
                <ion-icon name="person"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-input type="text" [(ngModel)]="Name" required placeholder="First Name*">
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="padding:2px;"></ion-col>
            </ion-row>
            <ion-row style="border-radius: 25px; border: 1px solid #f8f8f8;">
              <ion-col size="2" class="ion-text-center" style="padding: 14px;">
                <ion-icon name="person"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-input type="text" [(ngModel)]="lName" required placeholder="Last Name">
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="padding:2px;"></ion-col>
            </ion-row>
            <ion-row style="border-radius: 25px; border: 1px solid #f8f8f8;">
              <ion-col size="2" class="ion-text-center" style="padding: 14px;">
                <ion-icon name="call"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-input type="tel" [(ngModel)]="mob_num" required placeholder="Mobile Number">
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="padding:2px;"></ion-col>
            </ion-row>
            <ion-row style="border-radius: 25px; border: 1px solid #f8f8f8;">
              <ion-col size="2" class="ion-text-center" style="padding: 14px;">
                <ion-icon name="mail"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-input type="text" [(ngModel)]="email_add" required placeholder="Email Id">
                </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="padding:2px;"></ion-col>
            </ion-row>
            <ion-row style="border-radius: 25px; border: 1px solid #f8f8f8;">
              <ion-col size="2" class="ion-text-center" style="padding: 14px;">
                <ion-icon name="lock"></ion-icon>
              </ion-col>
              <ion-col size="8">
                <ion-input type="{{ type }}" [(ngModel)]="pass" required placeholder="Password*">
                </ion-input>
              </ion-col>
              <ion-col size="2" class="ion-text-center" style="padding: 14px;" (click)="toggleShow(0)">
                <ion-icon name="eye"></ion-icon>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col></ion-col>
            </ion-row>
            <ion-row style="border-radius: 25px; border: 1px solid #f8f8f8;">
              <ion-col size="2" class="ion-text-center" style="padding: 14px;">
                <ion-icon name="lock"></ion-icon>
              </ion-col>
              <ion-col size="8">
                <ion-input type="{{ type1 }}" [(ngModel)]="cnfrm_passwrd" required placeholder="Confirm Password">
                </ion-input>
              </ion-col>
              <ion-col size="2" class="ion-text-center" style="padding: 14px;" (click)="toggleShow(1)">
                <ion-icon name="eye"></ion-icon>
              </ion-col>
            </ion-row> -->
          </div>
          <ion-button shape="round" expand="block" class="btnCustom" type="submit" (click)="doSignup()">Signup
          </ion-button>

          <ion-row style="padding-left: 10px; padding-right: 10px; padding-top: 20px;">
            <!-- <ion-col size="5" style=" padding-left: 10px; margin-bottom: 13px; border-bottom: 1px solid #f8f8f8;">
              </ion-col> -->
            <ion-col size="12" style="color: gray;" class="ion-text-center" (click)="gotoLogin()">Already have an
              account?<span style="color: black;margin-left: 5px;">SIGN IN</span></ion-col>
            <!-- <ion-col size="5" style="margin-bottom: 13px; border-bottom: 1px solid #f8f8f8;"></ion-col> -->
          </ion-row>
          <!-- <ion-button shape="round" expand="block" class="btnCustom1" (click)="goToSignup()">Register</ion-button> -->

        </ion-card>
        <!-- <p style="text-align: center; margin-top: 25px; color: white;;">Forgot Password?</p> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>