<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>User List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list *ngIf="userItems.length > 0">
          <ion-item *ngFor="let item of userItems" (click)="gotoChatWindow(item)">
            <ion-avatar slot="start" class="ionAvtar">
              <img src="assets/svg/avatar.svg">
              <!-- <ion-img src="assets/Images/dummy-profile-pic.png"></ion-img> -->
            </ion-avatar>
            <ion-label>
              <p style="font-size: 1.1em;">{{item.first_name | titlecase}} {{item.last_name | titlecase}}</p>
              <p>{{item.email}}</p>
              <!-- <p>consectetur adipiscing elit. Duis ut urna neque.</p> -->
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<!-- <ion-footer *ngIf="userItems.length === 0"> -->
<ion-footer>
  <ion-list>
    <ion-item lines="none">
      <ion-row>
        <ion-col size="3">
          <div style="margin: auto;
          height: 55px;
          width: 55px;
          border-radius: 50%;
          border: 1px solid linear-gradient(to bottom, #69d7f4, #62d3f3, #5ccff2, #55caf1, #4fc6f0);
          text-align: center;
          background: linear-gradient(to bottom, #69d7f4, #62d3f3, #5ccff2, #55caf1, #4fc6f0);"></div>
        </ion-col>
        <ion-col size="9">
          <p style="margin: 0px; color: #6b7f97; font-size: 0.9em;">
            Hey, in order to use this family chat you first need to invite your family members. Invite them
            right
            now!
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-row style="padding: 0px 16px 0px 16px;">
    <ion-col style="padding: 0px 16px 40px 16px;">
      <ion-button expand="block" class="custBtn" (click)="inviteMem()">Invite / Add member</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>