ion-toolbar {
  --color: #ffffff;
  --background: linear-gradient(to right, #329cd1, #008dd3, #007cd2, #1c6ace, #4055c5);
}
.custBtn {
  --background: #0aa360;
  --padding-bottom: 25px;
  --padding-top: 25px;
}
.ionAvtar {
  width: 100% !important;
  height: 100% !important;
  max-width: 55px !important;
}
