// ion-list {
//   padding-top: 0px;
//   padding-bottom: 0px;
// }
// h6 {
//   font-size: 12px;
// }
ion-toolbar {
  --color: #ffffff;
  --background: linear-gradient(to right, #329cd1, #008dd3, #007cd2, #1c6ace, #4055c5);
}

// .para {
//   padding: 0px 0px 5px;
//   margin: 0px;
//   color: #aaa8a9;
//   font-size: 0.9em;
// }

.para {
  padding: 0px 0px 11px;
  margin: 0px;
  color: #aaa8a9;
}
