<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end" (click)="showNotifs()">
      <ion-img src="assets/notification/Reminder.png" style="width: 30px;"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item>
            <ion-row>
              <ion-col size="2">
                <ion-img src="assets/Images/user.png" style="width: 23px;"></ion-img>
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h4 style="margin: 0px;">Account</h4>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p style="padding: 0px 0px 5px; margin: 0px; color: #aaa8a9;" *ngIf="userdetails._orgName">
                      {{userdetails._orgName}}</p>
                    <p style="padding: 0px 0px 5px; margin: 0px; color: #aaa8a9;">{{userdetails.phn}}</p>
                    <p style="padding: 0px 0px 5px; margin: 0px; color: #aaa8a9;">{{userdetails.email}}</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item (click)="addMember()">
            <ion-row>
              <ion-col size="2">
                <ion-img src="assets/Images/add-contact.png" style="width: 23px;"></ion-img>

                <!-- <img src="assets/Images/add-contact.png" style="width: 23px;" /> -->
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h4 style="margin: 0px;">Member setting</h4>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p class="para">{{count}} members added | Add a new member</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-row>
              <ion-col size="2">
                <ion-img src="assets/Images/placeholder.png" style="width: 23px;"></ion-img>

                <!-- <img src="assets/Images/placeholder.png" style="width: 23px;" /> -->
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h4 style="margin: 0px;">Electric fence</h4>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p class="para">Select your distance range</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item (click)="addSOS()">
            <ion-row>
              <ion-col size="3">
                <ion-img src="assets/Images/phone-call.png" style="width: 23px;"></ion-img>
              </ion-col>
              <ion-col size="9" style="margin-left: -10px;">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h4 style="margin: 0px;">Emergency number</h4>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p class="para">24x7 help</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item (click)="updateProfile()">
            <ion-row>
              <ion-col size="2">
                <ion-img src="assets/Images/user (1).png" style="width: 23px;"></ion-img>
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h4 style="margin: 0px;">Profile</h4>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p class="para">Change profile photo, update personal info</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item (click)="onLogout()">
            <ion-row>
              <ion-col size="3">
                <ion-img src="assets/Images/logout.png" style="width: 23px;"></ion-img>
              </ion-col>
              <ion-col size="9">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h4 style="margin: 0px;">Log out</h4>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p class="para">Log out from app</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item detail>
            <ion-row>
              <ion-col size="2">
                <img src="assets/Images/user.png" style="width: 18px;" />
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h5 style="margin: 0px;">Account</h5>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p class="para">4 member added</p>
                    <p class="para">1234567890</p>
                    <p class="para">oneqlik@gmail.com</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item detail>
            <ion-row>
              <ion-col size="2">
                <img src="assets/Images/add-contact.png" style="width: 18px;" />
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h5 style="margin: 0px;">Member setting</h5>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p class="para">Add a new member</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item detail>
            <ion-row>
              <ion-col size="2">
                <img src="assets/Images/placeholder.png" style="width: 18px;" />
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h5 style="margin: 0px;">Electric fence</h5>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p class="para">Select your distance range</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item detail>
            <ion-row>
              <ion-col size="2">
                <img src="assets/Images/phone-call.png" style="width: 18px;" />
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h5 style="margin: 0px;">Emergency number</h5>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p class="para">24x7 help</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item detail (click)="updateProfile()">
            <ion-row>
              <ion-col size="2">
                <img src="assets/Images/user (1).png" style="width: 18px;" />
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h5 style="margin: 0px;">Profile</h5>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p class="para">Change profile photo, update personal info</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item detail (click)="onLogout()">
            <ion-row>
              <ion-col size="2">
                <img src="assets/Images/logout.png" style="width: 18px;" />
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h5 style="margin: 0px;">Log out</h5>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p class="para">Log out from app</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item detail>
            <ion-row>
              <ion-col size="2">
                <img src="assets/Images/info.png" style="width: 18px;" />
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding">
                    <h5 style="margin: 0px;">Help</h5>
                  </ion-col>
                  <ion-col size="12" class="ion-no-padding">
                    <p class="para">Open queries</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->