<ion-header no-border>
  <ion-toolbar class="cust-toolbar">
    <ion-row>
      <ion-col size="1" class="ion-text-center" style="margin: auto;"></ion-col>
      <ion-col size="2" class="ion-text-center" (click)="onProfile()">
        <ion-img *ngIf="!fileUrl" src="assets/Images/dummy-hexagon.png" style="width: 60px;"></ion-img>
        <ion-img *ngIf="fileUrl" src="{{fileUrl}}" class="circular--square"></ion-img>
      </ion-col>
      <ion-col size="9" style="padding: 20px 0px 0px 12px;" (click)="onProfile()">
        <p style="margin: 0px; padding: 0px; font-size: 0.7em; color: white;">{{userdetails.fn | titlecase}}
          {{userdetails.ln | titlecase}}</p>
        <p style="margin: 0px; padding: 0px; font-size: 0.5em; color: white;">Parent</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div
    style="height: 100%; width: 100%;background-color: transparent; opacity: 0; transition: opacity 150ms ease-in; margin-top: -100px; position: absolute;"
    id="map_canvas">

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="custDiv">
    <ion-row>
      <ion-col size="2" (click)="onChat()">
        <ion-row>
          <ion-col size="12" no-padding style="text-align: center;">
            <div class="div1">
              <ion-icon name="chatbubbles" class="icon"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12" no-padding style="text-align: center;">
            <p class="para">Chatting</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="2.5" tappable (click)="onLocation()">
        <ion-row>
          <ion-col size="12" no-padding style="text-align: center;">
            <div class="div1">
              <ion-icon name="pin" class="icon"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12" no-padding style="text-align: center;">
            <p class="para">Location</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="3" style="padding: 0px;" (click)="onFunc()">
        <ion-row>
          <ion-col size="12" no-padding style="text-align: center;">
            <div class="div2">
              <ion-icon name="add" class="icon2"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="2.5" tappable (click)="onHistory()">
        <ion-row>
          <ion-col size="12" no-padding style="text-align: center;">
            <div class="div1">
              <ion-icon name="clock" class="icon"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12" no-padding style="text-align: center;">
            <p class="para">History</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="2" tappable (click)="onSettings()">
        <ion-row>
          <ion-col size="12" no-padding style="text-align: center;">
            <div class="div1">
              <ion-icon name="cog" class="icon"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12" no-padding style="text-align: center;">
            <p class="para">Settings</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<!-- <ion-footer>
  <div class="custDiv">
    <ion-row>
      <ion-col size="2" (click)="onChat()">
        <div class="div1">
          <ion-icon name="chatbubbles" class="icon"></ion-icon>
        </div>
        <p class="para">Chatting</p>
      </ion-col>
      <ion-col size="2.5" tappable (click)="onLocation()">
        <div class="div1">
          <ion-icon name="pin" class="icon"></ion-icon>
        </div>
        <p class="para">Location</p>
      </ion-col>
      <ion-col size="3" style="padding: 0px;" (click)="onFunc()">
        <div class="div2">
          <ion-icon name="add" class="icon2"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="2.5" tappable (click)="onHistory()">
        <div class="div1">
          <ion-icon name="clock" class="icon"></ion-icon>
        </div>
        <p class="para">History</p>
      </ion-col>
      <ion-col size="2" tappable (click)="onSettings()">
        <div class="div1">
          <ion-icon name="cog" class="icon"></ion-icon>
        </div>
        <p class="para">Setting</p>
      </ion-col>
    </ion-row>
  </div>
</ion-footer> -->