.cust-toolbar {
  --background: url("../../assets/Images/header.png") no-repeat bottom center / cover;
  --min-height: 120px;
}

.circular--square {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}
// #map_canvas {
//   width: 100%;
//   height: 100%;
//   background-color: transparent;
// }

// #map_canvas {
//   // position: absolute;
//   // height: 100%;
//   // width: 100%;
//   // background-color: transparent;
//   // opacity: 0;
//   // transition: opacity 150ms ease-in;
//   // margin-top: -100px;
// }

.custDiv {
  // height: 90px;
  --background: grey;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding-top: 5px;
}

.div1 {
  // margin: auto;
  // height: 50px;
  // width: 50px;
  // border-radius: 50%;
  // border: 1px solid white;
  // text-align: center;
  margin: auto;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid white;
  text-align: center;
}


.para {
  padding: 5px;
  margin: 0px;
  font-size: 0.6em;
  color: white;
  text-align: center;
  overflow: hidden;
}

.div2 {
  margin: auto;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 1px solid linear-gradient(to bottom, #69d7f4, #62d3f3, #5ccff2, #55caf1, #4fc6f0);
  background: linear-gradient(to bottom, #69d7f4, #62d3f3, #5ccff2, #55caf1, #4fc6f0);
}

.icon {
  position: relative;
  top: calc(50% - 17px);
  font-size: 2.2em;
  color: white;
}

.icon2 {
  position: relative;
  top: calc(50% - 33px);
  font-size: 4em;
  color: white;
}

.map {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 150ms ease-in;
  margin-top: -100px;
}

.map.visible {
  opacity: 1;
}
