.btn {
  width: 340px;
  margin: auto;
  margin-top: 12px;
  --background: linear-gradient(to left top, #e16156, #e26055, #e26055, #e35f54, #e35e54);
}
ion-list {
  padding-top: 0px;
  padding-bottom: 0px;
}
ion-toolbar {
  --color: #ffffff;
  --background: linear-gradient(to right, #329cd1, #008dd3, #007cd2, #1c6ace, #4055c5);
}
