<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list lines="none">
          <ion-item *ngFor="let item of listItems">
            <ion-avatar slot="start">
              <img src="{{item.icon}}">
            </ion-avatar>
            <ion-label>{{item.title}}</ion-label>
            <ion-toggle *ngIf="item.btnType === 'toggle'" slot="end" color="secondary" [(ngModel)]="item.id">
            </ion-toggle>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-content>
  <ion-button expand="block" class="btn">Send Help Alert</ion-button>
  <ion-card>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/Images/location.png" />
            </ion-avatar>
            <ion-label style="font-weight: bold;">Location Update Schedule</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/Images/location.png" />
            </ion-avatar>
            <ion-label style="font-weight: bold;">Sound Guardian</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/Images/location.png" />
            </ion-avatar>
            <ion-label style="font-weight: bold;">SMS Alerts</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/Images/location.png" />
            </ion-avatar>
            <ion-label style="font-weight: bold;">Watch Finder</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/Images/location.png" />
            </ion-avatar>
            <ion-label style="font-weight: bold;">Timeout</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/Images/location.png" />
            </ion-avatar>
            <ion-label style="font-weight: bold;">Security</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/Images/location.png" />
            </ion-avatar>
            <ion-label style="font-weight: bold;">Log Out</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-list (click)="onTroubleshoot()">
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/Images/location.png" />
            </ion-avatar>
            <ion-label style="font-weight: bold;">Troubleshooting</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">

            </ion-avatar>
            <ion-label style="font-weight: bold;">Map</ion-label>
            <p>Normal map</p>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-avatar slot="start">

            </ion-avatar>
            <ion-label style="font-weight: bold;">Show places on the map</ion-label>
            <ion-toggle slot="end" color="medium"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-avatar slot="start">

            </ion-avatar>
            <ion-label style="font-weight: bold;">Show my location</ion-label>
            <ion-toggle slot="end" color="medium" style="border: 0px;"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-avatar slot="start">

            </ion-avatar>
            <ion-label style="font-weight: bold;">Time</ion-label>
            <ion-toggle slot="end" color="success" checked></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-avatar slot="start">

            </ion-avatar>
            <ion-label style="font-weight: bold;">Distance</ion-label>
            <ion-toggle slot="end" color="success" checked></ion-toggle>
          </ion-item>
        </ion-list>


      </ion-col>
    </ion-row>
  </ion-card>
</ion-content> -->